* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, sans-serif;
    color: #111;
    background-color: #a6ecb9;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
}

.container ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
}

.navbar {
    color: #fff;
    background-color: #3d9154;
    height: 60px;
}

.navbar .logo {
    font-size: x-large;
    font-weight: bold;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 60px;
}

.links {
    display: flex;
    gap: 8px;
    padding-right: 8px;
}

a:hover {
    color: lightgreen;
}

.header {
    background-color: #3d9154;
}

.header .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 70px;
}

.header img {
   width: 500px;
   height: 200px;
   margin: 30px 0px 30px 30px;
   border-radius: 15px;
   
}

.hero {
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 400px;
    gap: 10px;
    align-items: flex-start;
}

.hero button {
    width: 70px;
    height: 30px;
    border-radius: 5px;
    border-color: #fff;
    background-color: #6ceb8c;
}

.hero p {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
}

.center {
    background-color: #fff;
}

.container {
    width: 100%;
    height: 300px;
}

.container h2 {
    text-align: center;
    padding-top: 30px;
}

.container .kartice {
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-top: 30px;
    height: 100%;
}


.kartice img {
    width: 120px;
    height: 120px;
    margin-bottom: 15px;
    border: 2px solid darkgreen;
    border-radius: 15px;
}

.quote-sec {
    background-color: lightgrey;
}

.container .citat {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.citat p {
    font-size: 24px;
    font-style:italic;
    line-height: 40px;
}

#quoter {
    align-self: flex-end;
    margin-right: 140px;
    font-style: initial;
    font-weight: 700;
}


.sign-in {
    background-color: #fff;
}

.sign-in .container {
    height: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .ulogujse {
    display: flex;
    width: 800px;
    height: 120px;
    border: 2px solid darkgreen;
    border-radius: 15px;
    justify-content: space-around;
    align-items: center;
    background-color: #3d9154;
    color: #fff;
}

.ulogujse button {
    border: 3px solid #fff;
    background-color: #6ceb8c;
    padding: 5px 10px;
    margin: 2px;
    border-radius:10px ;
    color: darkgreen;
}

footer {
    background-color: #3d9154;
    height: 70px;
    margin-bottom: 0;
}

footer .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.copyright {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}



